@font-face {
  font-family: 'lobmHeroFont';
  src: url('/assets/fonts/lobmHeroFont/lobmHeroFont.woff2') format('woff2'),
  url('/assets/fonts/lobmHeroFont/lobmHeroFont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'lobmHeaderFont';
  src: url('/assets/fonts/lobmHeaderFont/lobmHeaderFont.woff2') format('woff2'),
  url('/assets/fonts/lobmHeaderFont/lobmHeaderFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
